.homePostCard {
    background-color: #1f1f1f;
    border-color: #1f1f1f;

    &:hover {
        scale: 1.01;
        transition: 0.3s ease-in-out;
    }

    .card-title {
        color: #1d1c1c;
    }

    .card-text {
        color: #b3b3b3;
    }

    .btn-primary {
        background-color: #6200ee;
        border-color: #6200ee;

        &:hover,
        &:focus,
        &:active {
            background-color: #3700b3;
            border-color: #3700b3;
        }
    }

}

.spinner-border {
    color: #6200ee;
}

.detailCont {
    .btn-primary {
        background-color: #6200ee;
        border-color: #6200ee;

        &:hover,
        &:focus,
        &:active {
            background-color: #3700b3;
            border-color: #3700b3;
        }
    }
}